:root {
    --mainColor: #49a1dd;
}
* {
    box-sizing: border-box;
}
body {
    font-size: 22px;
    word-break: break-word;
}
.center__content {
    display: flex;
    height: 100vh;
    background-color: var(--mainColor);
}
#enter__chat {
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
    padding: 0 1rem;
    border: 1px solid var(--mainColor);
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#enter__chat > * {
    margin: 1rem auto;
    display: block;
}
#enter__chat button {
    width: 160px;
}
#enter__chat .inactive {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    background: white;
}
#enter__chat input:last-of-type {
    display: none;
}
.redBorder {
    border: 2px solid red;
    outline: none;
}
#message__form {
    display: none;
    max-width: 800px;
    margin: auto;
    padding: 0 1rem;
    position: sticky;
    top: 0px;
}
#message__box {
    width: 100%;
    background: var(--mainColor);
    padding: .5rem 0;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: .5rem;
    height: calc(100vh - 128px);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
#message__box::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#message__box::-webkit-scrollbar-track {
    background: rgba(20, 20, 20, .3);
    border-radius: 5px;
}

/* Handle */
#message__box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #555;
}

/* Handle on hover */
#message__box::-webkit-scrollbar-thumb:hover {
    background: #444;
}
#input__buttons button:disabled {
    background-color: #80e680;
    border-color: #80e680;
}
#input__buttons {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
#input__buttons button, #enter__chat button {
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid var(--mainColor);
    background: var(--mainColor);
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
#input__field input, #enter__chat input {
    margin: 15px 0;
    font-size: 24px;
    padding: 5px 10px;
    width: 100%;
    display: block;
}
h1 {
    text-align: center;
    font-size: 36px;
    padding: 15px;
    margin:auto;
}
li.message__item {
    list-style: none;
    margin: .5rem 2rem;
    overflow: hidden;
    background-color: var(--mainColor);
    color: white;
}
li.message__item div {
    padding: 5px 15px;
}
li.message__item div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
li.message__item div:last-child {
    background-color: white;
    color: black;
    border-radius: 15px;
}
li.message__item div:first-child span:last-child {
    font-weight: lighter;
    font-size: 16px;
}
.location__msg{
    text-align: center;
}
.location__msg a {
    color: var(--mainColor)!important;
}
.hidden {
    display: none!important;
}
